[Unit]
Description=Photon Camera Fix

[Service]
User=root
Restart=always
ExecStart=/opt/photonvision/restart-photon.sh
PIDFile=/tmp/restart-photon.pid
